<h1>
  Add a new bcba availability
</h1>


<hr>

<form action="/create_bcba_availability" method="post">

  <div class="form-group">
    <label for="bcba_id">
      Bcba
    </label>

    <input type="text" id="bcba_id" name="bcba_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="slot_id">
      Slot
    </label>

    <input type="text" id="slot_id" name="slot_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create bcba availability
  </button>
</form>

<hr>

<a href="/bcba_availabilities">
  Go back
</a>
