<!-- Validation failure messages -->
<% if @rbt_availability.present? %>
  <% if @rbt_availability.errors.any? %>
    <% @rbt_availability.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new RBT availability
</h1>


<hr>

<form action="/create_rbt_availability" method="post">

  <div class="form-group">
    <label for="rbt_id">
      RBT
    </label>

    <input type="text" id="rbt_id" name="rbt_id" class="form-control" value="<%= @rbt_availability.rbt_id %>">
  </div>

  <div class="form-group">
    <label for="slot_id">
      Slot
    </label>

    <input type="text" id="slot_id" name="slot_id" class="form-control" value="<%= @rbt_availability.slot_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create rbt availability
  </button>
</form>

<hr>

<a href="/rbt_availabilities">
  Go back
</a>
