<h1>
  Add a new week
</h1>


<hr>

<form action="/create_week" method="post">

  <div class="form-group">
    <label for="week_of">
      Week of
    </label>

    <input type="text" id="week_of" name="week_of" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create week
  </button>
</form>

<hr>

<a href="/weeks">
  Go back
</a>
